html 
    head 
        title Registración
    body 
        form(action="/users" method="POST")
            input(type="email" name="email" placeholder="Correo Electrónico")
            input(type="password" name="password" placeholder="Contraseña")
            input(type="submit", value="Crear cuenta")