# Node build artifacts
.vscode
.DS_Store
node_modules
npm-debug.log
.env

# Whether you use PnP or not, the node_modules folder is often used to store
# build artifacts that should be gitignored
node_modules

config1.json
