doctype html 
html
    head
        title Categorías
    body
        h1 Categorías
        form(action="/categories/#{category.id}?_method=PUT", method="POST")
            input(type="text" name="title" value=category.title placeholder="Título de la categoría")
            input(type="color" value=category.color name="color")
            input(type="submit" value="Guardar")