doctype html 
html
    head
        title Categorías
    body
        h1 Categorías
        form(action="/categories/#{category.id}?_method=PUT", method="POST")
            input(type="text" name="title" placeholder="Título de la categoría" value=category.title)
            input(type="color" name="color" value=category.color)
            input(type="submit" value="Guardar")