html 
    head 
        title Tareas
    body 
      //-  el task.description no es obligatorio        
      form(action=`/tasks/${task.id}?_method=PUT` method="POST")
        input(type="text" name="categories" placeholder="ID de categorías separados por coma")
        textarea(name="description" placeholder="Escribí acá tu tarea")= task.description
        input(type="submit" value="Guardar")