//- Pug usa la identation al igual que Python para estabelecer las jerarqias, por lo que decir html es equivalente a 
//- decir <html></html> en HTML
html 
  head 
    title TAREAS
  body 
    ul
      each task in tasks 
        li= task.description
        //- cada vez que se quiere describir a pug que se trata de una expresion de javascript se utiliza el signo "="