html 
    head 
        title Tareas
    body 
        form(action="/tasks" method="POST")
            textarea(name="description" placeholder="Escribí acá tu tarea")
            input(type="submit" value="Guardar")